services:
  bot:
    build: .
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: telegram_bot
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: